@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* =============================
==========footer============= */

.footer {
  color: rgb(0, 0, 0);
  padding: 20px;
 
}



.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.footer a:hover {
  color: #937820;
  border-bottom: 1px solid #ffefba;
}
/*
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}
.doctor-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire space */
}

.btn-load-more {
  width: 150px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}


.landingpage-img{
  background-image: url("../public/images/landing.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  text-align: center;
  padding: 20px;
}

.city-selection-container {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: space-between;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropbtn {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 2px;
  width: 250%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

/* .state-search {
  padding: 8px;
  margin-bottom: 10px;
  
} */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 300px; /* Adjust the width as needed */
  padding: 15px;
  width: 250%;
  height: 418px;
  overflow: scroll;
  border-radius: 10px;
}

.dropdown-content p {
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.dropdown-content button {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border: none;
  background: none;
  padding: 15px;
  width: 50px;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.book-appointment-btn {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-radius: 10px;
}

.book-appointment-btn:hover {
  background-color: #27ae60;
}

.book-appointment-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-content .state-container {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-content .city-list {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-content label {
  margin: 5px;
}

.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
