@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/*=======footer============= */

.footer {
  color: rgb(0, 0, 0);
  padding: 20px;
  margin-top: 0px;
 
}

.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.footer a:hover {
  color: #937820;
  border-bottom: 1px solid #ffefba;
}
/*
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}
.doctor-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire space */
}

.btn-load-more {
  width: 150px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}


.landingpage-img{
  background-image: url("../public/images/landing.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  text-align: center;
  padding: 20px;
  margin-top: 61px;
}

.city-selection-container {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: space-between;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropbtn {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 1px;
  width: 250%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 300px; /* Adjust the width as needed */
  padding: 15px;
  width: 250%;
  height: 418px;
  overflow: scroll;
  border-radius: 10px;
}

.dropdown-content p {
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.dropdown-content button {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border: none;
  background: none;
  padding: 15px;
  width: 50px;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.doctor-btn {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-radius: 10px;
  
}

.book-appointment-btn:hover {
  background-color: #27ae60;
}

.book-appointment-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-content .state-container {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-content .city-list {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-content label {
  margin: 5px;
}

.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  margin-top: 61px;
}
/* @media (min-width: 768px) */
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 85px;
    
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
  margin-top: 61px;
}
.col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    margin-top: 61px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin-top: 61px;
}

.list-group{
margin-top: 32px;
margin-bottom: 0.5em;
font-weight: 500;
}